.loglines {max-height: 800px; overflow-y: scroll;}
.list-group-item-container {overflow: hidden;}
.ls {margin-top: 0px; margin-bottom: 10px; border-color: black;}
#debuginfo {display: none;}
pre {margin: 0px; padding: 0px; border: 0px;}
