[package]
name = "logreduce-web"
version = "0.1.0"
edition = "2021"

[dependencies]
# base
console_error_panic_hook = "0.1"
dominator = "0.5"
wasm-bindgen = "0.2"
futures-signals = "0.3"
web-sys = "0.3"

# network
wasm-bindgen-futures = "0.4"
gloo-net = "0.2"
gloo-timers = { version = "0.2.1", features = ["futures"] }
gloo-console = { version = "0.3" }

# logreduce
logreduce-report = { path = "../report" }
chrono = { workspace = true }
itertools = { workspace = true }
