@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.c0 { color: hsl(0, 50%, 0%); }
.c1 { color: hsl(0, 80%, 5%); font-weight: 500; }
.c2 { color: hsl(0, 80%, 10%); font-weight: 500; }
.c3 { color: hsl(0, 80%, 15%); font-weight: 500; }
.c4 { color: hsl(0, 80%, 20%); font-weight: 500; }
.c5 { color: hsl(0, 80%, 25%); font-weight: 500; }
.c6 { color: hsl(0, 80%, 30%); font-weight: 500; }
.c7 { color: hsl(0, 80%, 35%); font-weight: 500; }
.c8 { color: hsl(0, 80%, 40%); font-weight: 500; }
.c9 { color: hsl(0, 80%, 45%); font-weight: 500; }

.tooltip {
  @apply invisible absolute rounded shadow-sm px-2 py-1 mt-5 bg-slate-50 right-0 divide-y divide-gray-100;
}

.tooltip-visible {
  visibility: initial !important;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.pos {
  @apply text-sm pt-1 text-gray-500 text-right select-none align-top cursor-pointer hover:font-bold
}

.content {
  width: 100%;
  height: 100%;
}

.content .header {
  width: 100%;
  position: sticky;
  top: 24px;
}

.content .header2 {
  width: 100%;
  position: sticky;
  top: 44px;
}

.sticky-overflow {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 1800px;
}

a {
  cursor: pointer;
}

a:hover {
  color: #475569;
}

a.external:visited {
  color: #9333ea;
}

a.internal:visited {
  color: #9333ea;
}

a.external {
  /* Copied from https://en.wikipedia.org/wiki/Help:External_link_icons */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxu cz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0 PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4KCTxwYXRoIGZpbGw9IiM2YjcyODAi IGQ9Ik02IDFoNXY1TDguODYgMy44NSA0LjcgOCA0IDcuM2w0LjE1LTQuMTZ6TTIg M2gydjFIMnY2aDZWOGgxdjJhMSAxIDAgMCAxLTEgMUgyYTEgMSAwIDAgMS0xLTFW NGExIDEgMCAwIDEgMS0xIi8+Cjwvc3ZnPgo=');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.7em;
  padding-right: 0.8em;
}
