@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.c0 { color: hsl(0, 50%, 0%); }
.c1 { color: hsl(0, 80%, 5%); font-weight: 500; }
.c2 { color: hsl(0, 80%, 10%); font-weight: 500; }
.c3 { color: hsl(0, 80%, 15%); font-weight: 500; }
.c4 { color: hsl(0, 80%, 20%); font-weight: 500; }
.c5 { color: hsl(0, 80%, 25%); font-weight: 500; }
.c6 { color: hsl(0, 80%, 30%); font-weight: 500; }
.c7 { color: hsl(0, 80%, 35%); font-weight: 500; }
.c8 { color: hsl(0, 80%, 40%); font-weight: 500; }
.c9 { color: hsl(0, 80%, 45%); font-weight: 500; }

.tooltip {
  @apply invisible absolute rounded shadow-sm px-2 py-1 mt-5 bg-slate-50 right-0 divide-y divide-gray-100;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.pos {
  @apply text-sm pt-1 text-gray-500 text-right select-none align-top cursor-pointer hover:font-bold
}
