[Unit]
Description=Logreduce Web Service
After=network.target

[Service]
Type=simple
User=logreduce
Group=logreduce
SyslogIdentifier=logreduce-server
ExecStart=/usr/bin/logreduce-server -c /etc/logreduce/config.yaml

[Install]
WantedBy=multi-user.target
