[Unit]
Description=Logreduce Worker Service
After=network.target

[Service]
Type=simple
User=logreduce
Group=logreduce
SyslogIdentifier=logreduce-worker
ExecStart=/usr/bin/logreduce-worker -c /etc/logreduce/config.yaml

[Install]
WantedBy=multi-user.target
