name: release
on:
  push:
    tags:
    - "[0-9]+.[0-9]+.[0-9]+"
jobs:
  create-release:
    name: create-release
    runs-on: ubuntu-latest
    outputs:
      logreduce_version: ${{ env.LOGREDUCE_VERSION }}
    steps:
      - uses: actions/checkout@v3

      - name: Get the release version from the tag
        shell: bash
        run: |
          echo "LOGREDUCE_VERSION=$GITHUB_REF_NAME" >> $GITHUB_ENV
          echo "version is: ${{ env.LOGREDUCE_VERSION }}"

      - name: Create GitHub release
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release create ${{ env.LOGREDUCE_VERSION }}

  build-release:
    name: build-release
    needs: ['create-release']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build release
        run: nix build .#release

      - name: Prepare artifacts
        run: |
          staging=logreduce-x86_64-linux.tar.bz2
          cp result $staging
          shasum -a 256 $staging > $staging.sha256
          echo ASSET=$staging >> $GITHUB_ENV
          echo ASSET_SUM=$staging.sha256 >> $GITHUB_ENV

      - name: Upload release archive
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release upload ${{ needs.create-release.outputs.logreduce_version }} ${{ env.ASSET }} ${{ env.ASSET_SUM }}

  create-web-release:
    name: create-web-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build release
        run: nix build .#web

      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'

      - run: cd result; npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  create-container-release:
    name: create-container-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Push Image
        run: nix run ".#publish-container-release"
        env:
          GH_USERNAME: ${{ github.actor }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
